*.mx
*.m~ 
*.nb~
*.bak
*.tmp
build/
PacletBuild/
PacletBuildLog/
*.paclet
Documentation/English/Index/
Documentation/English/SearchIndex/
Documentation/English/SpellIndex/
DocumentationBuildNotebooksIncrementalData.wl
build/incremental/
.DS_Store
Thumbs.db
*.log
